/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.2s, color 0.2s;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: #222; /* Darker background for the navbar */
    transition: background-color 0.2s;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    text-decoration: none;
    transition: color 0.2s ease;
}

#theme-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
    transition: color 0.2s ease;
}

.about-container, .experience-container {
    max-width: 570px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: background-color 0.2s, color 0.2s;
}

h1, h2 {
    margin: 0;
    padding: 0;
    transition: color 0.2s ease;
}

hr {
    border: none;
    height: 3px;
    background-color: currentColor;
    margin: 20px 0;
    transition: background-color 0.2s ease;
}

p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
    transition: color 0.2s ease;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .navbar {
    background-color: #1a1a1a; /* Darker navbar color */
}

.dark-mode .nav-links a, .dark-mode #theme-toggle {
    color: #fff;
}

.dark-mode .about-container {
    background-color: #454545;
    color: #fff;
}

.dark-mode .icon {
    color: #fff;
}

/* Light mode styles */
body.light-mode {
    background-color: #f0f0f0;
    color: #333;
}

.light-mode .navbar {
    background-color: #e0e0e0; /* Darker navbar color in light mode */
}

.light-mode .nav-links a, .light-mode #theme-toggle {
    color: #333;
}

.light-mode .about-container {
    background-color: #fff;
    color: #333;
}

.light-mode .icon {
    color: #333;
}

/* Styles for social media icons */
.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.icon {
    font-size: 2em;
    transition: color 0.3s ease;
}

/* Ensure consistency in dark mode */
.dark-mode .experience-container {
    background-color: #454545; /* Same as About container in dark mode */
    color: #fff; /* Same text color as About container */
}

/* Ensure consistency in light mode */
.light-mode .experience-container {
    background-color: #fff; /* Same as About container in light mode */
    color: #333; /* Same text color as About container */
}

/* Direct child list items within experience-container */
.experience-container > ul > li {
    margin-bottom: 25px; /* Adjust as needed */
}

/* If the li elements are not direct children, increase the specificity like so: */
.experience-container ul li {
    margin-bottom: 25px; /* Adjust as needed */
}

.coming-soon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Adjust height as needed to center vertically */
    text-align: center;
}

.coming-soon-container h1 {
    font-size: 3em; /* Large font size for 'Coming Soon!' */
    margin-bottom: 0.5em;
}

.coming-soon-container p {
    font-size: 1.5em; /* Slightly larger text for the message */
}
